<!DOCTYPE html>
<html lang="pt_br">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadão do Game</title>
    <link rel="stylesheet" href="/styles/style-index.css">
</head>
<body >
    <h1 class="ttl"> Mercadão do Game</h1> 
    <div class="logo_container">
        <img class="logo" src="https://wallpaperaccess.com/full/7448.png" alt="logo">
    </div>
    

    <div  id="container">
              

        <h2 >Seu site para compra e venda de games!</h2>

        
        <div class="buttons_config">
            <a class="logo_compra" href="/buy"><img class="text_button" src="https://www.pinpng.com/pngs/m/463-4637173_carrinho-de-compras-logo-png-logo-carrinho-de.png" alt="carrinho">
                Comprar</a>
            <a class="logo_venda" href="/sell"> <img src="https://w7.pngwing.com/pngs/898/31/png-transparent-dollar-sign-dollar-sign-united-states-dollar-green-dollar-symbol-text-logo-number.png" alt="cifrão">Vender</a>
        </div>
    </div>
</body>
</html>